.correct {
  animation: correct-anim 1s ease-in-out;
}
.wrong {
  animation: wrong-anim 1s ease-in-out;
}

@keyframes correct-anim {
  0% { background-color: transparent; }
  50% { background-color: rgba(30, 215, 96, 0.5); }
  100% { background-color: transparent; }
}

@keyframes wrong-anim {
  0% { background-color: transparent; }
  50% { background-color: rgba(255, 0, 0, 0.5); }
  100% { background-color: transparent; }
}

  /* 🖼 Album-Cover */
  .album-cover-container {
    position: relative;
    overflow: hidden;
  }
  
  .album-cover {
    width: 50%;
    height: auto;
  }
  
  .blurred {
    filter: blur(10px);
    transition: filter 0.3s ease-in-out;
  }
  .correct-answer {
    animation: correctEffect 1s ease-in-out;
  }
  
  @keyframes correctEffect {
    0% { background-color: #4caf50; }
    100% { background-color: white; }
  }
  
  .wrong-answer {
    animation: wrongEffect 1s ease-in-out;
  }
  
  @keyframes wrongEffect {
    0% { background-color: #ff4c4c; }
    100% { background-color: white; }
  }
  